2022-2/WSD2022-2/exercise/5week1_Schema_1_Example/work.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="workProgress">
  <xs:complexType>
     <xs:sequence>
	<xs:element name="title" type="xs:string"/>
	<xs:element name="phase" type="xs:string"/>
	<xs:element name="importance" type="xs:decimal"/>
      </xs:sequence>
  </xs:complexType>
</xs:element>
</xs:schema>
